# *.nupkg
# packages/
# bin/
obj/
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studo 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# TFS 2012 Local Workspace
$tf/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# TODO: Comment the next line if you want to checkin your web deploy settings 
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# The packages folder can be ignored because of Package Restore
# **/packages/*
# except build/, which is used as an MSBuild target.
# !**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
# !**/packages/repositories.config

InMemoryLoaderCommon/bin/Debug/InMemoryLoaderCommon.xml
InMemoryLoaderCommon/bin/Debug/InMemoryLoaderCommon.dll.config
InMemoryLoaderCommon/bin/Debug/InMemoryLoaderCommon.dll
InMemoryLoaderCommon/bin/Debug/InMemoryLoaderBase.xml
InMemoryLoaderCommon/bin/Debug/InMemoryLoaderBase.dll
InMemoryLoaderCommon/bin/Debug/InMemoryLoader.xml
InMemoryLoaderCommon/bin/Debug/InMemoryLoader.dll
PowerUpXmlUtils/bin/Debug/log4net.xml
PowerUpXmlUtils/bin/Debug/log4net.dll
PowerUpXmlUtils/bin/Debug/PowerUpXmlUtils.xml
PowerUpXmlUtils/bin/Debug/PowerUpXmlUtils.dll
PowerUpXmlUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpXmlUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpStringUtils/bin/Debug/log4net.xml
PowerUpStringUtils/bin/Debug/log4net.dll
PowerUpStringUtils/bin/Debug/PowerUpStringUtils.xml
PowerUpStringUtils/bin/Debug/PowerUpStringUtils.dll
PowerUpStringUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpStringUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpGetUtils/bin/Debug/log4net.xml
PowerUpGetUtils/bin/Debug/log4net.dll
PowerUpGetUtils/bin/Debug/PowerUpGetUtils.xml
PowerUpGetUtils/bin/Debug/PowerUpGetUtils.dll
PowerUpGetUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpGetUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpFileSystemUtils/bin/Debug/log4net.xml
PowerUpFileSystemUtils/bin/Debug/log4net.dll
PowerUpFileSystemUtils/bin/Debug/PowerUpFileSystemUtils.xml
PowerUpFileSystemUtils/bin/Debug/PowerUpFileSystemUtils.dll
PowerUpFileSystemUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpFileSystemUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpEmailUtils/bin/Debug/log4net.xml
PowerUpEmailUtils/bin/Debug/log4net.dll
PowerUpEmailUtils/bin/Debug/PowerUpEmailUtils.xml
PowerUpEmailUtils/bin/Debug/PowerUpEmailUtils.dll
PowerUpEmailUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpEmailUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpDateTimeUtils/bin/Debug/log4net.xml
PowerUpDateTimeUtils/bin/Debug/log4net.dll
PowerUpDateTimeUtils/bin/Debug/PowerUpDateTimeUtils.xml
PowerUpDateTimeUtils/bin/Debug/PowerUpDateTimeUtils.dll
PowerUpDateTimeUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpDateTimeUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpCryptUtils/bin/Debug/log4net.xml
PowerUpCryptUtils/bin/Debug/log4net.dll
PowerUpCryptUtils/bin/Debug/PowerUpCryptUtils.xml
PowerUpCryptUtils/bin/Debug/PowerUpCryptUtils.dll
PowerUpCryptUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpCryptUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpConvertUtils/bin/Debug/log4net.xml
PowerUpConvertUtils/bin/Debug/log4net.dll
PowerUpConvertUtils/bin/Debug/PowerUpConvertUtils.xml
PowerUpConvertUtils/bin/Debug/PowerUpConvertUtils.dll
PowerUpConvertUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpConvertUtils/bin/Debug/InMemoryLoaderBase.dll
PowerUpCheckUtils/bin/Debug/log4net.xml
PowerUpCheckUtils/bin/Debug/log4net.dll
PowerUpCheckUtils/bin/Debug/PowerUpCheckUtils.xml
PowerUpCheckUtils/bin/Debug/PowerUpCheckUtils.dll
PowerUpCheckUtils/bin/Debug/InMemoryLoaderBase.xml
PowerUpCheckUtils/bin/Debug/InMemoryLoaderBase.dll
InMemoryLoaderCommon/bin/Debug/log4net.xml
InMemoryLoaderCommon/bin/Debug/log4net.dll
InMemoryLoaderCommon/bin/Debug/PowerUpXmlUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpXmlUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpStringUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpStringUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpGetUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpGetUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpFileSystemUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpFileSystemUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpEmailUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpEmailUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpDateTimeUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpDateTimeUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpCryptUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpCryptUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpConvertUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpConvertUtils.dll
InMemoryLoaderCommon/bin/Debug/PowerUpCheckUtils.xml
InMemoryLoaderCommon/bin/Debug/PowerUpCheckUtils.dll
